/*For removing the default link style*/
a {
    text-decoration: none;
    color: inherit
}

a:focus,
a:active {
    outline: none
}



/*Navigation Bar*/
#upper-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(-90deg, rgb(15 52 96 / .7), rgb(26 27 46 / .7));
    backdrop-filter: blur(10px);
    border-bottom: 4px solid rgb(58 75 122 / .7);
}

.title h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    font-family: Fredoka;
    color: #FFF
}

.navigation {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
    max-width: 100%;
}

.navigation .nav-link {
    flex: 1 1 0%;
    padding: 6px 8px;
    font-size: 16px;
    font-family: Fredoka;
    cursor: pointer;
    background-color: #fff0;
    color: #E0E0E0;
    border: none;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.navigation .nav-link:hover {
    background-color: #101031;
    color: #E0E0E0;
    box-shadow: 0 4px 10px rgb(0 0 0 / .3);
    transform: translateY(-2px)
}



/*Footer part*/
.footer {
    text-align: center;
    color: #E0E0E0;
    background: #161729;
    backdrop-filter: blur(10px);
    border-top: 4px solid rgb(58 75 122 / .7);
    padding-top: 30px;
    padding-bottom: 15px;
    height: auto
}



@media only screen and (max-width: 992px) {
    .navbar-nav .nav-item {
        text-align: end;
    }
}