<footer class="footer footer-section">
    <div class="container-fluid px-4 px-md-5">
        <div class="row align-items-center py-4">
            <div class="col-md-4 text-center text-md-start mb-3 mb-md-0">
                <p class="copyright-text mb-0">&copy; 2026 RZ <span>regio</span>. All Rights Reserved</p>
            </div>
            <div class="my-3 col-md-4 text-center mb-3 mb-md-0 order-3 order-md-2">
            </div>
            <div class="col-md-4 text-center text-md-end order-2 order-md-3">
                <ul class="footer-links list-inline mb-0">
                    <li class="list-inline-item"><a href="index.html" class="footer-link dynamic-link">Home</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="experience.html" class="footer-link dynamic-link">Experience</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="about.html" class="footer-link dynamic-link">About</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="contact.html" class="footer-link dynamic-link">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>