html,
body {
    margin-bottom: 10px;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #233445;
    scroll-padding-top: 100px; 
}

/* Remove link default state */
button a,.nav-title a, #about a{
    text-decoration: none;
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

/* Footer */
.footer {
    border-top: 3px #836746 solid;
    width: 100%;
    text-align: center;
    color: white;
    font-family: Georgia;
    background-color: #233445;
    padding: 15px;
}



/* Navigation Bar */
#nav-bar {
    display: flex;
    background-color: #233445;
    padding: 10px 20px; 
    border-bottom: #836746 solid 3px;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-title {
    padding-top: 10px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Georgia';
    color: aliceblue;
}

.nav-buttons {
    display: flex;
    justify-content: end;
    gap: 10px;
}

.nav-buttons button{
    font-size: 14px;
    color: #c5c3d8;
    background-color: #233445;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.nav-buttons button:hover{
    background: linear-gradient(#5989b9, #44698e, #6fadeb);
}



/*Welcome Part*/
#page-main {
    margin-top: 80px;
    background: linear-gradient(#344962, #445f80, #587BA4, #6791c0, #90b4dc)
}

#welcome-part {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}

.welcome-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.welcome-header h1{
    font-family: Broadway;
    text-shadow:0 4px 15px #233445;
    font-size: 58px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color:#dddbf9
}

.welcome-header .tagline{
    font-family: Georgia;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #dddbf9;
    margin: 10px;
    padding: 10px 10px 10px 10px;
    background-color: #344c69;
    border-radius: 20px;
    box-shadow: 0 4px 10px #233445;
}

.tagline:hover {
    transform: scale(1.05);
}

.welcome-view {
    justify-content: center;
    margin: 0px 0px 20px 0px;
    padding: 50px 0px 50px 0px;
}
.welcome-view img{
    border-radius: 80px;
    box-shadow: 0 4px 10px #3a3a3a;
    opacity: 0;
    transform: translateY(-20px);
    animation: 1s fadeIn ease-in forwards;
}



/*Description Part*/
#description{
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: #344c69;
    box-shadow: 0 4px 10px #3a3a3a;
    border-radius: 100px;
    margin: 50px 50px 50px 50px;
}

.desc-view {
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

.desc-view img {
    filter: brightness(80%);
    border-radius: 80px;
    box-shadow: 0 4px 10px #3a3a3a;
    opacity: 0;
    transform: translateY(-20px);
    animation: 1s fadeIn ease-in forwards;
}

.desc-info {
    display: flex;
    flex-direction: column;
    padding: 20px 5px 20px 5px;
}

.desc-info h1 {
    color: aliceblue;
    text-align: center;
}

.desc-info p {
    font-family: Georgia;
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
    color: #dddbf9;
    margin: 10px;
    padding: 10px 10px 10px 10px;
}

.desc-info p:hover {
    transform: scale(1.1);
}



/*Feature Part*/
#features {
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.feat-title {
    font-family: Rockwell;
    text-shadow:0 4px 15px #233445;
    align-items: center;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    color:#dddbf9
}

#features-info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#features-info .card{
    box-shadow: 0 4px 10px #3b3b3b;
    background-color: #344c69;
    filter: blur(5px);
}

#features-info .card:hover{
    transform: scale(1.05);
    filter: blur(0);
}

#features-info .card-title {
    color: aliceblue;
    text-align: center;
}

#features-info .card-text{
    height: 200px;
    font-family: Georgia;
    font-weight: bold;
    text-align: justify;
    color: #dddbf9;
}
#features-info img {
    height: 200px;
}



/*Places Page*/
#sample-spots {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    justify-items: center;
    align-items: center;
}

#places-header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: aliceblue;
    margin-top: 100px;
    margin-bottom: 20px;
}

.carousel-inner img{
    width: 100%;
    height: auto;
}

.carousel-item img{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 50px;
}

.carousel-caption {
    filter: opacity(0);
    background-color: #233445;
    border-radius: 20px;
    font-family: Georgia;
}

.carousel-caption:hover {
    filter: opacity(0.75);
}
.carousel-control-prev, .carousel-control-next {
    position: absolute;
    bottom: 100%;
    transform: translateY(60%);

}



/*About Page*/
#about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 20px 0px;
    background-color: #233445;
    border-radius: 20px;
}

#about h2{
    margin-top: 20px;
    color: aliceblue;
}

#about p{
    color: #dddbf9;
    text-align: justify;
    hyphens: auto;
}

#about a{
    color: #d2c32d;
}

#about a:hover{
    color: #836746;
}



/*Animation*/
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/*Adjustment for Screen*/
@media (max-width: 600px) {
    #nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px auto 0px auto;
    }

    .nav-title {
        font-size: 14px;
    }

    .nav-buttons {
        justify-content: center;
        margin: 0px 30px 0px 30px;
        gap: 2px;
    }

    .nav-buttons button{
        font-size: 12px;
        text-align: center;
    }

    #welcome-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
    }

    .welcome-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .welcome-header h1{
        font-size: 40px;
        width: 300px;
        height: 100%;
    }

    .welcome-header .tagline{
        font-size: auto;
        padding: 20px;
        width: 300px;
        height: 100%;
    }

    .welcome-view {
        padding: 0px;
        width: 100%;
        height: 520px;
        overflow: hidden;
    }

    .welcome-view img{
        padding: 0px;
        justify-content: center;
        border-radius: 10px;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    #description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        width: 350px;
        margin: 20px auto 20px auto;
    }

    .desc-view {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .desc-info p {
        margin: 0;  
        font-size: 15px;
        hyphens: auto;
    }

    #features-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #features-info .card{
        margin-bottom: 20px;
    }

    .carousel-item img{
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 50px;
    }

    .carousel-caption h4{
        font-size: 16px;
    }

    .carousel-caption p{
        font-size: 12px;
    }
}
